@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

body{
    font-family: 'Noto Sans TC',sans-serif;
    background-image: url("./shark.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    font-size: 20px;
    padding: 5px;
}
input{
    width: 30%;
    padding: 5px;
    border-radius: 5px;
    border-color: rgb(148, 148, 148);
}
input.date{
    width: 10%;
}
input.text{
    width: 20%;
    height: 2rem;
    font-size: 15px;
}
.title{
    padding-left: 20px;
    color: black;
    font-size: 30px;
    font-weight: 500;
    align-items: center;
    border-width: 5px;
    border-color: black;
}
.card{
    width: 60%;
    height: 30vh;
    background-color: burlywood;
    position: relative; 
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}
.inline{
    display: inline-block;
}
.submit{
    padding: 0.5rem;
    border-radius: 5px;
    border-color: green;
    background-color: green;
    font-size: 20px;
    color: white;
}
.check{
    
    padding: 0.5rem;
    border-radius: 5px;
    border-color: green;
    background-color: green;
    font-size: 15px;
    color: white;
}
.todo{
    background-color: rgb(200, 196, 196);
    font-size: 20px;
    border-radius: 10px;
    width: 60%;
    position: relative; 
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    margin-top: 10px;
}
.todo_time{
    position: absolute;
    right: 2%;
    top: 0%;
    font-size: 15px;
}
#insert_section {
    max-height: 50vh;
    overflow-y: scroll;
}
.done{
    background-color: rgba(200, 196, 196, 0.29);
    text-decoration: line-through;
    color: rgb(59, 59, 59);
}
.done .check{
    border-color: rgb(76, 106, 76);
    background-color: rgb(76, 106, 76);
}
